﻿<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @*        <div class="content-wrapper">
            <div class="float-left">
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>*@
        <table style="width: 100%; background-color: black" class="bodyTable">
            <tr>
                <td style="width: 15%"></td>
                <td style="width: 70%">
                    <a href="http://musync.ru">
                        <img src="~/Images/musyncLogoTrans.png" style="width: 250px; float: left;">
                    </a>
                    <div class="content-wrapper">
                        <div class="float-left">
                        </div>
                        <div class="float-right" style="color: #AAA">
                            <section id="login">
                                @Html.Partial("_LoginPartial")
                            </section>
                        </div>
                    </div>
                </td>
                <td style="width: 15%" />
            </tr>
        </table>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <div>
            <table style="width: 100%" class="bodyTable">
                <tr class="bodyTableth">
                    <td />
                    <td>
                        @*@RenderSection("NoteMenu", required: false)*@
                    </td>
                    <td />
                </tr>
                <tr>
                    <td style="" />
                    <td style="width: 1%">
                        @RenderBody()
                    </td>
                    <td style="" />
                </tr>
            </table>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <span class="float-left" style="display: flexbox">
                <a href="mailto:alexandrovpe@gmail.com" style="color: #AAA">alexandrovpe@gmail.com</a>
                <span style="color: #AAA">&copy; @DateTime.Now.Year</span>
            </span>
        </div>
    </footer>   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/controls")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        HashTags(".tagbox", "tagMenuId");
        $(document).ready(function() {
            InitFileUploads();
        });
        SyncControl('@Url.Action("GetNewVkTracks", "Sync")','@Url.Action("ImportTracks", "Sync")');
    </script>
</body>
</html>


@*<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <div>
            <div class="bodyTable g-100">
                <div class="bodyTableth g-row">
                    <div class="g-col-1 g-span-15"></div>
                    <div class="g-col-16 g-span-70">
                        @RenderSection("NoteMenu", required: false)
                    </div>
                    <div class="g-col-86 g-span-15"></div>
                </div>
                <div class="g-row">
                    <div class="g-col-1 g-span-15"></div>
                    <div class="g-col-16 g-span-70">
                        @RenderBody()
                    </div>
                    <div class="g-col-86 g-span-15"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <span class="float-left" style="display: flexbox">
                <a href="mailto:alexandrovpe@gmail.com">alexandrovpe@gmail.com</a>
                <span>&copy; @DateTime.Now.Year</span>
            </span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
*@
