﻿@model string
<div class="divUploads">
    <div class="divUploadImg">
    </div>
    @Html.Hidden("Images", string.Join(",", string.IsNullOrEmpty(Model) ? "" : Model))
    <input type="file" class="fileUpload" accept="image/jpeg,image/png,image/bmp,image/jpg, jpg|png|jpeg|bmp" name="image" data_val="false" />
</div>

<script type="text/javascript">
    if (InitFileUploads)
        InitFileUploads();
</script>
