﻿@model Tolltech.MusyncUI.Models.FeedbackForm
@{
    ViewBag.Title = "Контакты";
}

<h2>Контакты.
</h2>
<p>
    По всем вопросам и пожеланиям можно писать на почту <a href="mailto:alexandrovpe@gmail.com">alexandrovpe@gmail.com</a>
</p>

<p>
    Так же вы можете заполнить форму обратной связи ниже.
</p>
@using (Ajax.BeginForm("Feedback", "Home", new AjaxOptions
    {
        UpdateTargetId = "feedbackResult",
        InsertionMode = InsertionMode.Replace
    }))
{
    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Text)
                @Html.TextAreaFor(m => m.Text)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Отправить" />
        <div id="feedbackResult"></div>
    </fieldset>
}