﻿@{
    ViewBag.Title = "musync.ru";
}

<div class="homeDiv">
    <a href="@Url.Action("Register", "Account")">
        <table>
            <tr>
                <td>
                    <img src="./ico/Start.png">
                </td>
                <td class="text">
                    <a href="@Url.Action("Register", "Account")">Начните прямо сейчас!</a>
                </td>
            </tr>
        </table>
    </a>
</div>
<div class="homeDiv">
    <a href="@Url.Action("About", "Home")">
        <table>
            <tr>
                <td>
                    <img src="./ico/About.png">
                </td>
                <td class="text"><a href="@Url.Action("About", "Home")">Немного о сайте.</a>
                </td>
            </tr>
        </table>
    </a>
</div>
<div class="homeDiv">
    <a href="@Url.Action("Contact", "Home")">
        <table>
            <tr>
                <td>
                    <img src="./ico/Contacts.png">
                </td>
                <td class="text"><a href="@Url.Action("Contact", "Home")">Обратная связь, контакты.</a>
                </td>
            </tr>
        </table>
    </a>
</div>
