﻿@{
    ViewBag.Title = "Помощь проекту";
}

<h2>MENOTE.RU
</h2>

<p>
    Для содействия развитию проекта вам предлагается удобный способ финансирования через <a href="https://money.yandex.ru/topup/card/carddetails.xml">Яндекс.деньги</a>. Номер счета 410018638125151.<br />
    Или воспользуйтесь формой ниже
</p>
@{ var orderId = Guid.NewGuid();}
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410018638125151">
    <input type="hidden" name="formcomment" value="Проект musync.ru">
    <input type="hidden" name="short-dest" value="Проект musync.ru">
    <input type="hidden" name="label" value="@orderId">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="Помощь проекту musync.ru. Номер платежа @orderId">
    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.TextBox("sum", 100.00, new Dictionary<string, object> { { "data-type", "number" } })
            </li>
            <li>
                <input type="radio" name="paymentType" id="pType1" value="PC" style="float: left; margin-top: 6px;" />
                <label for="pType1">Яндекс.Деньгами</label>
            </li>
            <li>
                <input type="radio" name="paymentType" id="pType2" value="AC" style="float: left;margin-top: 6px;" />
                <label for="pType2">Банковской картой</label>
            </li>
        </ol>
        <input type="submit" name="submit-button" value="Подарить">
    </fieldset>
    <input type="hidden" name="comment" value="Помощь проекту menote.ru">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
</form>
