﻿@model Tolltech.MusyncUI.Models.Sync.VkForm

@using (Ajax.BeginForm("GetVkTracks", "Sync", new AjaxOptions
{
    UpdateTargetId = "vkTracks",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnSuccess = "VkSuccess(data)",
    OnFailure = "VkFail()"
}))
{
    <fieldset>
        <legend>Авторизация ВК</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.AudioString, "Аудио (ссылка или текстом)")
                @Html.TextBoxFor(m => m.AudioString, new {id = "vkAudioStr"})
            </li>
        </ol>
        <input type="submit" value="Обновить"/>
    </fieldset>
}