﻿@using Tolltech.MusyncUI.Implementaitions.Common
@using Tolltech.MusyncUI.Implementaitions.Extensions
@using Tolltech.MusyncUI.Models.Sync
@{
    ViewBag.Title = "musync.ru";
}
<table>
    <tr>
        <td style="width: 10%">
            @Html.Partial("VkAuthotrize", new VkForm {AudioString = Request.FindCookies(Constants.VkUrlCookie) ?? string.Empty})
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td style="width: 10%;">
            @Html.Partial("YaAuthotrize", new AuthorizeForm {Login = Request.FindCookies(Constants.YaLoginCookie) ?? string.Empty})
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div id="yaPlaylists">
                @Html.Partial("YaPlaylists", new YaPlaylists())
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="vkTracks">
                @Html.Partial("Tracks", new TracksModel())
            </div>
        </td>
        <td></td>
        <td>
            <div>
                <input id="syncButton" type="button" value="Показать новые треки" disabled="disabled" class="importButtons"/>
                <input id="importButton" type="button" value="Импорт" disabled="disabled" class="importButtons"/>
            </div>
        </td>
        <td></td>
        <td>
            <div id="yaTracks">
                @Html.Partial("Tracks", new TracksModel())
            </div>
        </td>
    </tr>
</table>