﻿@model Tolltech.MusyncUI.Models.Sync.AuthorizeForm

@using (Ajax.BeginForm("AuthorizeYa", "Sync", new AjaxOptions
{
    UpdateTargetId = "yaPlaylists",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "$('#yaPlaylistForm').submit()",
    OnFailure = "YaFail()"
}))
{
    <fieldset>
        <legend>Авторизация Яндекс</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login, "Логин")
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Pass, "Пароль")
                @Html.PasswordFor(m => m.Pass)
            </li>
        </ol>
        <input type="submit" value="Авторизовать"/>
        <input  type="button" value="Разлогиниться" id="unAuthorizeButton" onclick='UnauthorizeYa("@Url.Action("UnauthorizeYa", "Sync")")'/>
    </fieldset>
}