﻿@model Tolltech.MusyncUI.Models.LocalPasswordModel
@{    
}

<hgroup class="title">
    <h1>Управление учетной записью</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Вы зашли как <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
