﻿@model Tolltech.MusyncUI.Models.ResetPasswordByTokenModel

<h1>Смена пароля</h1>
<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ResetPasswordFinally", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.HiddenFor(m => m.Token)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Сменить пароль" />
    </fieldset>
}