﻿@model Tolltech.MusyncUI.Models.ResetPasswordModel

@{
    ViewBag.Title = "Сброс пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm("SendResetToken", "Account"))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
        </ol>
        <input type="submit" value="Выслать инструкцию по сбросу пароля" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
