﻿@model Tolltech.MusyncUI.Models.RegisterModel
@{
    ViewBag.Title = "Отправка письма активации.";
}

<h1>Управление аккаунтом</h1>
<div>Ссылка c инструкцией была отправлена на указанный email.</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
